@{
    ViewData["Title"] = "Home Page";
}

@if(UserService.IsAuthenticated)
{
    <partial name="_AddFeed" model='new FeedUrl{ Url = ""}'/>
    <partial name="_DisplayFeeds" />
}
else
{
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Feed Reader</h1>
        <p class="lead text-muted">Feed Reader is a free RSS and Atom aggregator. Feed Reader helps you to subscribe for various feeds and will help you to aggregate and consume the content later.</p>
        <p>
        <a href="/.auth/login/twitter?post_login_redirect_url=/Home/Index" class="btn btn-primary my-2">Start using Feed Reader</a>
        </p>
    </div>
</section>
}